body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.App {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 800px;
  box-sizing: border-box;
}

h1 {
  color: #fff;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.welcome-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.start-button {
  padding: 15px 30px;
  font-size: 1.2em;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
}

.start-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.resolution-adjuster {
  margin: 20px 0;
}

label {
  margin-right: 10px;
}

input[type="file"] {
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

img {
  margin-top: 20px;
  border: 1px solid #ccc;
  max-width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type="range"] {
  margin: 0 10px;
  width: 300px;
}

span {
  margin-left: 10px;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.container, .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #007BFF;
  color: white;
}

#imageAdjustorContainer {
  display: none;
}

.light-mode {
  background-color: #f0f0f0;
  color: #000;
}

.dark-mode {
  background-color: #2c3e50;
  color: #ecf0f1;
}

#toggleThemeBtn {
  position: fixed;
  top: 10px;
  right: 10px;
}

#image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}